#
# Enter your Group ID - See: cloud.mongodb.com under Settings
# This new property became a requirement in monitoring agent version 6.0.0.
#
mmsGroupId=57766ccde4b00142cae5e69f

#
# Enter an API key - See: cloud.mongodb.com under Deployment -> Agents -> Agent API Keys
#
mmsApiKey=59c0a43d9701990b629d312cb609c5db87cc39da9f75c140a3ce0f33

#
# Hostname used to contact Cloud Manager application servers.
#
mmsBaseUrl=https://api-agents.mongodb.com

# For additional optional settings, please see
# https://docs.cloud.mongodb.com/reference/monitoring-agent/
