global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon
	maxconn 5000
	tune.ssl.default-dh-param 2048

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS



defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	option redispatch
	option contstats
	retries 3
	backlog 10000	
	
	timeout connect 5s
	timeout client	25s
	timeout server	25s
	timeout tunnel 3600s
	timeout http-keep-alive 1s
	timeout http-request 15s
	timeout queue	30s
	timeout tarpit	60s	

	option forwardfor
	option http-server-close


frontend www
	bind *:80
	bind *:443 ssl crt /etc/ssl/app.conectra.com.br.pem 
	reqadd X-Forwarded-Proto:\ http
	
	maxconn 5000

	mode http
	stats enable
	stats uri /haproxy-stats
	stats auth conectra:drunkbadgerstole5nuts
	stats admin if TRUE
	stats refresh 5s	

	acl letsencrypt-acl path_beg /.well-known/acme-challenge/
	use_backend letsencrypt-backend if letsencrypt-acl

	acl host_audittax hdr(host) -i admin.audittax.com.br
	use_backend audittax if host_audittax

	acl host_portal hdr(host) -i app.conectra.com.br
	acl host_jmainhardt hdr(host) -i app.jmainhardt.com.br

	acl portal_srv_down nbsrv(portal) lt 2
	use_backend portal_bkp if host_portal portal_srv_down
	use_backend portal_bkp if host_portal portal_srv_down

	use_backend portal if host_portal OR host_jmainhardt

	default_backend conectranet

backend portal
	balance leastconn	
	redirect scheme https if !{ ssl_fc }
	cookie SERVERID insert indirect nocache maxidle 30m maxlife 1h
	server app1 172.31.31.118:3000 check cookie app1 maxconn 100
	server app2 172.31.30.184:3000 check cookie app2 maxconn 100
	
backend portal_bkp
	balance leastconn
	redirect scheme https if !{ ssl_fc }
	cookie SERVERID insert indirect nocache maxidle 30m maxlife 1h
	server cjm1 www.conectra.com.br:3000 check weight 2 maxconn 200
	server app1 172.31.31.118:3000 check weight 1 cookie app1 maxconn 100
	server app2 172.31.30.184:3000 check weight 1 cookie app2 maxconn 100

backend audittax
	redirect scheme https if !{ ssl_fc }
	server audittax 187.108.216.5:80 check	

backend conectranet
	server conectranet 127.0.0.1:8000 check

backend letsencrypt-backend
	server letsencrypt 127.0.0.1:54321
